# Node modules
node_modules/
.env

# Logs
logs
*.log
npm-debug.log*

# OS junk
.DS_Store

# Environment variables
.env

# IDEs/editors
.vscode/
.idea/

# Optional: if using Mac/Linux generated folders
Thumbs.db
