<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= task.title %></h5>
                <p class="card-text"><%= task.description %></p>
            </div>
            <div class="card-body">
                <a href="/tasks/<%= task._id %>/edit" class="card-link btn btn-info">Edit Task</a>
                <form class="d-inline" action="/tasks/<%=task._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/tasks">All Tasks</a>
            </div>
          </div>
    </div>
</div>